requests
aws-lambda-powertools
aws_xray_sdk
dataclasses-json

# appbase in local directory
./appbase/dist/my_appbase-0.1.0-py3-none-any.whl
# business common in local directory
./app/common/dist/my_businesscommon-0.1.0-py3-none-any.whl